<!DOCTYPE html>
 <html lang="en" xmlns: th ="http://www.thymeleaf.org" 
         th:replace="base1::layout(~{::section})">
       
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
       <link  rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    
</head>
<body>

   <section class= "side-content">
        
        <!-- <h3 class= "head-content">This is your private dashboard</h3>
        <h3 class= "head-content">You can add contacts and explore in a smart way</h3>
    -->
   </section>
   
   
</body>
</html>